<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="./feature-product/product/productStyle/main.css">

</head>
<body>
    <section class="header-wrapper">
        <div class="container">
            <header>
                <div class="header-top d-flex justify-content-between py-4 border-bottom">
                    <div class="search">
                        <i class="bi bi-search"></i>
                    </div>
                    <div class="logo">
                        <a href="">
                            <img srcset="./feature-product/product/productStyle/img/logo.png 2x" alt="" />
                        </a>
                    </div>
                    <div class="account">
                        <a href="" class="account__link text-decoration-none"><i
                                class="bi bi-person fs-5 account__icon"></i> Signup</a>
                        <a href="" class="account__link text-decoration-none"><i class="bi bi-cart fs-5 account__icon"></i>
                            Signin</a>
                    </div>
                </div>
            <nav ng-include="'./feature-product/product/components/menu.html'"></nav>
            
           
        </div>
    </section>
    </header>
</body>
</html>
